/* Variables */

$font-text: 'Signika', sans-serif;
$font-header: 'Inconsolata', sans-serif;

$color-main: #0097e6;
$color-second: #33d9b2;
$color-third: #ff5252;
$color-on-dark: #ffffff;
$color-on-light: #2c2c54;
$transition: all 1s;


/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    color: $color-on-light;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 96px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 20px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn:hover {
    background-position: 0 100%;
    color: $color-on-dark;
}

.btn-one {
    border-color: $color-on-dark;
    color: $color-on-dark;
    background-image: linear-gradient(90deg, $color-on-dark 50%, transparent 50%);
}

.btn-one:hover {
    color: $color-main;
}

.section-title {
    font-family: $font-header;
    font-size: 48px;
    margin: 0 0 72px 0;
    font-weight: 600;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/* Navigation */
nav {
    background-color: $color-main;
    padding: 12px 0;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation ul li {
    display: inline-block;
    margin: 0 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-on-dark;
}

.navigation a:hover {
    color: $color-second;
}

.navigation ul li ul {
    margin-bottom: 12px;
    display: none;
    position: absolute;
    background-color: $color-on-dark;
    left: 50%;
    transform: translate(-50%);
    padding-top: 12px;
}

.navigation ul li:hover ul {
display: block;
}

.navigation ul li ul li a {
    color: $color-on-light;
    padding: 0 24px;
}

.navigation ul li ul li a:hover {
    color: $color-second;
}

/* Header */

.splash {
    background-color: $color-main;
    color: $color-on-dark;
    min-height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

.page-title {
    margin: 0;
    word-spacing: -24px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    font-family: $font-header
}

.page-title span {
    font-family: $font-text;
}

.page-subtitle {
    font-size: 16px;
    margin: 24px 0;
    font-weight: 400;
    font-family: $font-header;
}

/* About */

.box {
    flex: 0 0 33.333%;
    position: relative;
    font-family: $font-header;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.box-number {
    position: absolute;
    font-size: 144px;
    line-height: 0.65;
    color: #33d9b2;
    z-index: -1;
    opacity: 0.2;
    font-weight: 900;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
}

.box-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}

.box p {
    margin-top: 0;
}

.box p:first-of-type {
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
}

.box .btn {
    margin-top: auto;
    margin-left: 0;
}

.btn-two {
    border-color: $color-second;
    color: $color-second;
    background-image: linear-gradient(90deg, $color-second 50%, transparent 50%);
}

.btn-three {
    border-color: $color-third;
    color: $color-third;
    background-image: linear-gradient(90deg, $color-third 50%, transparent 50%);
}

.btn-four {
    border-color: $color-main;
    color: $color-main;
    background-image: linear-gradient(90deg, $color-main 50%, transparent 50%);
}

/* works */
[class^="work-"] {
    position: relative;
    font-family: $font-header;
}

.work {
    position: relative;
    max-height: 300px;
    flex: 0 0 50%;
    margin-bottom: 96px;
}

.work-description {
    height: 100%;
    margin-right: 40px;
    padding: 1px 0 0 60%;
    text-align: left;
}

.work-title {
    font-size: 24px;
} 

.work p {
    margin: 0;
}

.work-description p:last-of-type {
    font-weight: 700;
    margin-bottom: 15px;
}

.btn-five {
    min-width: auto;
    border: none;
    margin: auto 0 36px 0;
    padding: 0;
    text-align: left;
    border-color: $color-main;
    color: $color-main;
    background-image: linear-gradient(90deg, $color-main 50%, transparent 50%);
}

.work .wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.work-image {
    position: absolute;
    min-width: 50%;
    max-width: 250px;
    height: 100%;
    display: block;
}

.work-image::after {
    position: absolute;
    content: '';
    background: $color-second;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 1;
    top: 20px;
    left: 20px;
    transition: $transition;
}

.work-image:hover::after {
    transform: translate(-20px, -20px);
}

.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Contact */

.contact {
    background: $color-main;
    color: #ffffff;
    font-family: $font-header;
}

.contact form {
    padding-right: 96px;
    flex: 2 0 0;
}

.contact-data {
    flex: 1 0 0;
}

.contact .contact-data {
    font-size: 20px;
}

.contact-data h3 {
    margin-bottom: 0;
}

.contact-data h3:first-of-type {
    margin-top: 0;
}

.contact-data p {
    margin: 0;
    font-size: 18px;
}

.btn-six {
    border-color: $color-on-dark;
    color: $color-on-dark;
    background-image: linear-gradient(90deg, $color-on-dark 50%, transparent 50%);
}

.contact button {
    background-color: $color-main;
    min-width: 160px;
    margin: 20px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}

.btn-six:hover {
    color: $color-main;
}

input, textarea {
    background-color: $color-main;
    border: none;
    width: 100%;
    font-family: $font-text;
    font-size: 16px;
    bottom: none;
    margin: 5px 0;
    font-weight: 100;
    border-bottom: 3px solid $color-on-dark;
}

input {
    padding: 2.5px 10px 0 10px;
    height: 55px;
}

::placeholder {
    color: $color-on-dark;

}

textarea {
    padding: 10px 10px 0 10px;
}

/* Footer */

footer {
    margin: 48px auto;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 0;
    
}

footer ul li i {
    font-size: 30px;
    color: $color-on-dark;
    background: $color-third;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 15px;
    transition: $transition;
}

footer ul li i:hover {
    transform: scale(1.2);
}
