/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Signika", sans-serif;
  color: #2c2c54;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  padding: 96px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 20px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn:hover {
  background-position: 0 100%;
  color: #ffffff;
}

.btn-one {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
  color: #0097e6;
}

.section-title {
  font-family: "Inconsolata", sans-serif;
  font-size: 48px;
  margin: 0 0 72px 0;
  font-weight: 600;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Navigation */
nav {
  background-color: #0097e6;
  padding: 12px 0;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  margin: 0 36px;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
}

.navigation a:hover {
  color: #33d9b2;
}

.navigation ul li ul {
  margin-bottom: 12px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  transform: translate(-50%);
  padding-top: 12px;
}

.navigation ul li:hover ul {
  display: block;
}

.navigation ul li ul li a {
  color: #2c2c54;
  padding: 0 24px;
}

.navigation ul li ul li a:hover {
  color: #33d9b2;
}

/* Header */
.splash {
  background-color: #0097e6;
  color: #ffffff;
  min-height: 500px;
  display: flex;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  word-spacing: -24px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Inconsolata", sans-serif;
}

.page-title span {
  font-family: "Signika", sans-serif;
}

.page-subtitle {
  font-size: 16px;
  margin: 24px 0;
  font-weight: 400;
  font-family: "Inconsolata", sans-serif;
}

/* About */
.box {
  flex: 0 0 33.333%;
  position: relative;
  font-family: "Inconsolata", sans-serif;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.box-number {
  position: absolute;
  font-size: 144px;
  line-height: 0.65;
  color: #33d9b2;
  z-index: -1;
  opacity: 0.2;
  font-weight: 900;
  margin-top: 0;
  margin-left: 0;
  padding: 0;
}

.box-title {
  font-size: 24px;
  margin: 0 0 12px 0;
}

.box p {
  margin-top: 0;
}

.box p:first-of-type {
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 0;
}

.box .btn {
  margin-top: auto;
  margin-left: 0;
}

.btn-two {
  border-color: #33d9b2;
  color: #33d9b2;
  background-image: linear-gradient(90deg, #33d9b2 50%, transparent 50%);
}

.btn-three {
  border-color: #ff5252;
  color: #ff5252;
  background-image: linear-gradient(90deg, #ff5252 50%, transparent 50%);
}

.btn-four {
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);
}

/* works */
[class^=work-] {
  position: relative;
  font-family: "Inconsolata", sans-serif;
}

.work {
  position: relative;
  max-height: 300px;
  flex: 0 0 50%;
  margin-bottom: 96px;
}

.work-description {
  height: 100%;
  margin-right: 40px;
  padding: 1px 0 0 60%;
  text-align: left;
}

.work-title {
  font-size: 24px;
}

.work p {
  margin: 0;
}

.work-description p:last-of-type {
  font-weight: 700;
  margin-bottom: 15px;
}

.btn-five {
  min-width: auto;
  border: none;
  margin: auto 0 36px 0;
  padding: 0;
  text-align: left;
  border-color: #0097e6;
  color: #0097e6;
  background-image: linear-gradient(90deg, #0097e6 50%, transparent 50%);
}

.work .wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-image {
  position: absolute;
  min-width: 50%;
  max-width: 250px;
  height: 100%;
  display: block;
}

.work-image::after {
  position: absolute;
  content: "";
  background: #33d9b2;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  top: 20px;
  left: 20px;
  transition: all 1s;
}

.work-image:hover::after {
  transform: translate(-20px, -20px);
}

.work-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

/* Contact */
.contact {
  background: #0097e6;
  color: #ffffff;
  font-family: "Inconsolata", sans-serif;
}

.contact form {
  padding-right: 96px;
  flex: 2 0 0;
}

.contact-data {
  flex: 1 0 0;
}

.contact .contact-data {
  font-size: 20px;
}

.contact-data h3 {
  margin-bottom: 0;
}

.contact-data h3:first-of-type {
  margin-top: 0;
}

.contact-data p {
  margin: 0;
  font-size: 18px;
}

.btn-six {
  border-color: #ffffff;
  color: #ffffff;
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.contact button {
  background-color: #0097e6;
  min-width: 160px;
  margin: 20px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}

.btn-six:hover {
  color: #0097e6;
}

input, textarea {
  background-color: #0097e6;
  border: none;
  width: 100%;
  font-family: "Signika", sans-serif;
  font-size: 16px;
  bottom: none;
  margin: 5px 0;
  font-weight: 100;
  border-bottom: 3px solid #ffffff;
}

input {
  padding: 2.5px 10px 0 10px;
  height: 55px;
}

::-moz-placeholder {
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

textarea {
  padding: 10px 10px 0 10px;
}/*# sourceMappingURL=style.css.map */